// Variables
$mainColor: #9ecae3;
$redColor: #d63230;

@mixin job-tiles {
  background-color: #7bbde2;
}
@mixin form {
  .company-info,
  .job-info {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    input[type=text]:focus {
      border: 1px solid $mainColor;
      border: none;
      padding: 8px;
      border-radius: 6px;
    }
  }
  .btn {
    width: 195px;
    margin: 0 auto;
  }
}

@keyframes login-grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.App {
  text-align: center;
  font-family: 'Mukta', sans-serif;
  // BACKGROUND IMAGE
  background-image: url("https://i.imgur.com/mxZ0wpc.jpg");
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-attachment: fixed;
  background-position: bottom right;
}
// LOGIN PAGE //
.login-page {
  animation-name: login-grow;
  animation-duration: 3s;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  .login-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
.login-footer {
  animation-name: login-grow;
  animation-duration: 3s;
}
// NAVBAR //
nav {
  width: 100vw;
  background-color: $mainColor;
  a {
    font-size: 15px;
    text-decoration: none;
    color: black;
  }
  .navbar-brand {
    margin-left: 15px;
  }
  ul.login {
    margin: auto 0;
    padding: 0;
    margin-right: 15px;
    li {
      list-style: none;
      font-size: 15px;
    }
  }
}

// DASHBOARD //
.dashboard-jobs,
.index-jobs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  margin-bottom: 66px;

  .job-tile {
    width: 40%;
    // border: 1px solid black;
    background-color: #cde6f5;
    text-align: left;
    .job-tile-heading {
      display: flex;
      flex-direction: row;
      margin: 5px;
      justify-content: space-evenly;
      .job-color {
        background-color: white;
        // border: 1px solid black;
        width: 30px;
        height: 30px;
      }
    }
    img {
      width: 20vw;
      height: auto;
      margin: 10px 0 0 0;
    }
    .job {
      list-style: none;
    }
  }
}

.job {
  a:link{
text-decoration: none;
color: black;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.job-tile:hover{
  transform: scale(1.08);
  background-color:#7bbde2;
}

ul {
  padding: 0;
  text-align: center;
}

.profileImage {
  border-radius: 50%;
}


 .single-job {
   h1 {
     font-size: 60px;
   }
   h2{
     font-size: 40px;
   }
 }
.editFormOn{
  display:block;

// SHOW PAGE //
.editFormOn {

  opacity: 1;
  padding: 30px;
  margin-bottom: 100px;
  @include form;
}
.editFormOff {
  display: none;
  opacity: 0;
}
.single-job {
  background-color: #cde6f5;
  margin-bottom: 70px;
  .show-logo {
    width: 50vw;
    height: auto;
    padding: 0px;
    margin: 10px;
  }
}
// CREATE PAGE //
.new-job-page {
  background-color: #cde6f5;
  padding: 30px;
  margin-bottom: 100px;
  @include form;
}

// FOOTER //
footer {
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  bottom: 0px;
}

button {
  margin: 10px;
}
button1 {
  width: 195px;
}


img.show-logo{
  width:  100%;
  object-fit: cover;
}
