// Variables
$mainColor: #9ecae3;
$darkBlue: #78c5f1;
$redColor: #d63230;

@mixin job-tiles {
  background-color: #7bbde2;
}

@keyframes login-grow {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

.App {
  text-align: center;
}
// LOGIN PAGE //
.login-page {
  animation-name: login-grow;
  animation-duration: 3s;
  background-color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  .login-content {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}
.login-footer {
  animation-name: login-grow;
  animation-duration: 3s;
  }
// NAVBAR //
nav {
  ul.login {
    margin: auto 0;
    li {
      list-style: none;
    }
  }
}

// DASHBOARD //
.dashboard-jobs,
.index-jobs {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin: 10px;
  .job-tile {
    width: 40%;
    border: 1px solid black;
    .job-tile-heading {
      display: flex;
      flex-direction: row;
      margin: 5px;
      justify-content: space-evenly;
      .job-color {
        background-color: $redColor;
        width: 30px;
        height: 30px;
      }
    }
    img {
      width: 20vw;
      height: auto;
    }
    .job {
      list-style: none;
    }
  }
}


//show page 
.editFormOn{
  display:block;
  opacity: 1;

}
.editFormOff{
  display: none;
  opacity: 0;

}
// CREATE PAGE //
.company-info,
.job-info {
  display: flex;
  flex-direction: column;
}

// FOOTER //
footer {
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 12px;
  bottom: 0;
}
